{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "Components": "./src/components",
          "Static": "./src/static"
        }
      }
    ]
  ]
}
